<div class="navbar bg-base-200 shadow-lg">
  <div class="navbar-start">
    <a class="btn btn-ghost text-xl">DriftNet</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      {% if user.is_authenticated %}
      <li>
        <a>Item 1</a>
      </li>
      <li>
        <details>
          <summary>Parent</summary>
          <ul class="p-2">
            <li>
              <a>Submenu 1</a>
            </li>
            <li>
              <a>Submenu 2</a>
            </li>
          </ul>
        </details>
      </li>
      <li>
        <a>Item 3</a>
      </li>
      {% else %}
      <li>
        <a href="{% url 'landing' %}">Home</a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="navbar-end">
    {% if user.is_authenticated %}
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img alt="Tailwind CSS Navbar component"
               src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
        </div>
      </div>
      <ul tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-25 p-2 shadow">
        <li>
          <a>Profile</a>
        </li>
        <li>
          <a href="{% url 'users:characters' %}">Characters</a>
        </li>
        <li>
          <a>Settings</a>
        </li>
        <li>
          <a href="{% url 'account_logout' %}">Logout</a>
        </li>
      </ul>
    </div>
    {% else %}
    <a class="btn btn-soft btn-accent ml-2" href="{% url 'account_login' %}">Login</a>
    <a class="btn btn-info ml-2" href="{% url 'account_signup' %}">Sign Up</a>
    {% endif %}
  </div>
</div>
