{% load static %}

{% comment %} {% load django_htmx %} {% endcomment %}
<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}
        DriftNet
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
    <script src="{% static 'js/chart.js' %}" defer></script>
    <script src="{% static 'js/jdenticon.js' %}" async></script>
    <script src="{% static 'js/htmx.js' %}" defer></script>
    <script src="{% static 'js/debug.js' %}" defer></script>
  </head>
  <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    <c-navbar />
    <div class="min-h-[calc(100vh-4rem)]">{{ slot }}</div>
    <c-footer />
  </body>
</html>
