{% load static %}
{% load django_htmx %}

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}
        DriftNet
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
    {% htmx_script %}
    <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.3.0/dist/jdenticon.min.js" async
        integrity="sha384-LfouGM03m83ArVtne1JPk926e3SGD0Tz8XHtW2OKGsgeBU/UfR0Fa8eX+UlwSSAZ"
        crossorigin="anonymous">
    </script>
  </head>
  <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    <c-navbar />
    <div class="min-h-[calc(100vh-4rem)]">{{ slot }}</div>
    <c-footer />
  </body>
</html>
