<li>
  <details>
    <summary>{{ group.name }}</summary>
    <ul>
      {% for subgroup in group.children %}
        {% if subgroup.children|length > 0 %}
          {% include "partials/market-sidebar-group.html" with group=subgroup %}
        {% else %}
          <li>
            <details>
              <summary>{{ subgroup.name }}</summary>
              <ul>
                {% for market_item in subgroup.market_items %}
                  <li>
                    <a hx-get="{% url 'market:item-details' market_item.id %}"
                       hx-target="#market-item-details-div"
                       hx-swap="innerHTML"
                       hx-on="click">{{ market_item.item_name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </details>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </details>
</li>
